.contact-form {
  background: #191919;
}

.contact-form .col-md-6:last-child {
  padding-left: 3rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0 20px;
  border: 2px solid #ffffff33;
  border-radius: 5px;
  background: #191919;
  transition: all 0.3s ease;
  height: 50px;
  line-height: 46px;
  margin-bottom: 20px;
  outline: none;
  color: #c6c9d8d0;
  font-size: 15px;
  letter-spacing: 0.1px;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #c6c9d8d0 !important;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #f9004d;
  color: #c6c9d8d0;
  background: #191919;
}

.contact-form textarea {
  height: 140px;
}

.section-title {
  margin-top: -20px;
}

.section-title h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.section-title p {
  font-size: 18px;
  line-height: 30px;
}

.section-title p a {
  color: white;
  font-weight: 500;
}

.section-title p a:hover {
  color: #f9004d;
}
