.contact-form {
  background: #191919;
}

.contact-form .container {
  padding: 2rem 0;
}

.contact-form .container > .row {
  margin-top: 2rem;
}

.contact-form .container > .row svg {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.contact-form .container > .row h6 {
  font-size: 1.4rem;
}

.contact-form .container > .row a {
  color: white;
  font-size: .9rem;
}

.contact-form .container > .row a:hover {
  color: #f9004d;
}


.contact-form .container > h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.contact-form .container .row:last-child {
 margin-top: 2rem;
}

.contact-form .container .row:last-child p {
  margin-top: -20px;
}

.contact-form input,
.contact-form textarea {
  padding: 0 20px;
  border: 2px solid #ffffff33;
  border-radius: 5px;
  background: #191919;
  transition: all 0.3s ease;
  height: 50px;
  line-height: 46px;
  margin-bottom: 20px;
  outline: none;
  color: #c6c9d8d0;
  font-size: 15px;
  letter-spacing: 0.1px;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #c6c9d8d0 !important;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #f9004d;
  color: #c6c9d8d0;
  background: #191919;
}

.contact-form textarea {
  height: 140px;
}
